.card1image{
  width: 40%;
  background-color: black;
}

.middleimage{
  background-color:red ;
}
.parrafo-textImage{
  background-color: white;
}

.card-title1image{
  font-size: 12pt;
}
.card-title2image{
  font-size: 12pt;
}
.card-title3image{
  font-size: 12pt;
}
.card-text1image{
  font-size: 12pt;
}