.container{
    padding-bottom: 50px;
    display: block;
    background-color: white;
    border-radius: 5%;
}

.orange{
    padding-top: 5%;
    text-align: center;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    background-color: white;

  }
  
  .card-body {
    padding: 2rem 0 !important;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    background-color: white;
    border-radius: 20%;

  }
  
  .card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
  
  .overflow {
    overflow: hidden;
  }
  
  .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    background-color: white;
    border-radius: 5%;
  }
  
  .card-img-top:hover {
    background-color: white;
    border-radius: 5%;
  }