.containerSP{
  margin-left: 5%;
  margin-right: 5%;;
}
.cardSP{
  
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15%;
  border-color: purple;
  background-color: white;
  border: 10px;
  border-color: purple;
  border-radius: 10px;
  box-shadow: 0px 10px 35px -15px #000;
}
.card-bodySp {
  text-align: left;  
  }

.card-title{
    color: #e96a04;
  }
.card-text {
  text-align: justify;  
    padding: 0.3rem 1rem;
    font-size: 1rem;
    color: black;
    line-height: 25pt;      
  }
  
.overflow {
    overflow: hidden;
  }
  
 